@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.main {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    // background-color: rgb(71, 49, 19);
    background-image: url('./../Assest/Image/chat-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;

    .container {
        // margin: auto;
        height: 95%;
        backdrop-filter: blur(15px);
        .chat-list {
            border-radius: 5px;
            .logo {
                @include center();
                // margin-top: 25px;

                .rounded-circle {
                    background-color: rgba(116, 116, 116, 0.39);
                    backdrop-filter: blur(5px);
                    background-size: cover;
                    border: 1px solid #999999;
                }
            }

            .name-title {
                @include center();
                // margin: 5px
            }

            .search-chat {
                padding: 20px;

                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgba(19, 39, 39, 0.658);
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                    .input:focus {
                        border: 3px solid red;
                    }

                }

                input::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: rgb(114, 114, 114);
                    margin-left: 10px;
                }

                input::-moz-placeholder {
                    /* Firefox 19+ */
                    color: rgb(255, 0, 0);
                    margin-left: 10px;
                }

                input::-ms-input-placeholder {
                    /* IE 10+ */
                    color: rgb(255, 255, 255);
                    margin-left: 10px;
                }

                input::-moz-placeholder {
                    /* Firefox 18- */
                    color: rgb(255, 255, 255);
                    font-weight: lighter;
                    font-size: small;
                    margin-left: 10px;
                }




            }

            .chat-list-item {
                width: 98%;
                margin-bottom: 5px;
                cursor: pointer;


                .item-content {
                    border-radius: 5px;
                    padding: 5px;
                    background-color: rgba(19, 39, 39, 0.658);
                    backdrop-filter: blur(10px);
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


                    .chat-item-username {
                        font-size: 14px;

                    }

                    .chat-details {
                        font-weight: lighter;
                        font-size: small;
                        align-items: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        color: #c9c9c9;

                    }

                    .date-time {
                        display: flex;
                        font-weight: lighter;
                        font-size: x-small;
                        direction: rtl;
                        color: #999999;
                    }
                }
            }


            .infinite-scroll {
                scrollbar-color: rgb(52, 88, 87) rgb(27, 60, 78);
                margin-bottom: "5px";

            }

            .infinite-scroll::-webkit-scrollbar {
                width: 10em;
                scrollbar-width: thin;
            }

            .infinite-scroll::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(175, 15, 15, 0.3);
            }

            .infinite-scroll::-webkit-scrollbar-thumb {
                background-color: rgb(139, 38, 38);
                outline: 1px solid rgb(11, 88, 165);
            }
        }

        .chat-window {
            border-radius: 5px;
            height: 100%;
            // background-color: red;
            .header {
                // background-color: lightblue;
                height: 10%;
                // width: 100%;
                border-radius: 5px;
                align-items: center;
                .header-row {
                    // background-color: rgb(17, 218, 17);
                    // margin-bottom: 50px;
                    // padding-left: 15px;
                    height: 100%;
                    // display: flex;
                    align-items: center;
                    border-radius: 15px;

                    .option-icon {
                        direction: rtl;
                    }
                }
            }

          
            .chat-box {
                // background-color: blueviolet;
                width: 100%;
                // border-radius: 15px;
                margin-top: 5%;
                .message-received {
                    // width: 100%;
                    margin-bottom: 10px;
                    span {
                        float: left;
                        font-size: small;
                        max-width: 50%;
                        padding: 10px;
                        border-radius: 15px 15px 15px 0px;
                        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
                        color: black;
                        direction: ltr;
                    }
                }

                .message-sent {
                    width: 100%;
                    margin-bottom: 10px;
                    span {
                        float: right;
                        font-size: small;
                        max-width: 50%;
                        padding: 10px;
                        border-radius: 15px 15px 0px 15px;
                        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                        color: black;
                        direction: ltr;
                    }
                }
            }

            .message-box {
                @include center();
                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgba(21, 128, 128, 0.658);
                    box-shadow: rgba(3, 3, 3, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                    .input:focus {
                        border: 3px solid red !important;
                    }
                }

            }}
        }


    }