@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  // background: linear-gradient(to left, #004e92, #000428);
  background: url(../../Assest//Image/dddepth-345.jpg);
  // background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;

  .container-div {
    border-radius: 10px;
    height: 95%;
    // background: url(../../Assest//Image/blob-scene-haikei.svg);
    // background-size: cover;

    // background-image: linear-gradient(160deg, #94e65152 0%, #7eddee75 100%);
    background-color: rgba(161, 161, 161, 0.192);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(15px);
    border: 1px solid rgb(90, 90, 90);
    transition: all 0.5s linear;
    .chat-list {
      border-radius: 5px;
      transition: all 0.5s linear;

      .logo {
        @include center();
        .rounded-circle {
          background-color: rgba(116, 116, 116, 0.39);
          backdrop-filter: blur(5px);
          background-size: cover;
          border: 1px solid #999999;
        }
      }

      .name-title {
        @include center();
        margin: 5px;
        color: white;
      }

      .search-chat {
        margin-bottom: 20px;

        input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          border: none;
          background-color: rgba(19, 39, 39, 0.658);
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          color: white;
          padding: 15px;
        }

        ::placeholder {
          font-size: small;
          color: rgb(192, 192, 192);
        }

        input:active,
        input:focus {
          border: none;
          outline-offset: -2px;
          outline: none !important;
          font-size: small;
        }

        input:focus {
          font-size: small;
          border: none;
          outline-offset: -2px;
          outline: none;
          padding: 2px solid green;
        }

        .ie input:active,
        .ie input:focus {
          outline: none;
          padding: 3px solid pink;
        }
      }

      .chat-list-item {
        margin-bottom: 5px;
        cursor: pointer;

        .item-content {
          border-radius: 5px;
          padding: 5px;
          background-color: rgba(19, 39, 39, 0.658);
          backdrop-filter: blur(10px);
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          .chat-item-username {
            font-size: 14px;
            color: white;
          }

          .chat-details {
            font-weight: lighter;
            font-size: small;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            color: #c9c9c9;
          }

          .date-time {
            display: flex;
            font-weight: lighter;
            font-size: x-small;
            direction: rtl;
            color: #999999;
          }
        }
      }

      .infinite-scroll {
        scrollbar-color: rgb(52, 88, 87) rgb(27, 60, 78);
        margin-bottom: "5px";
      }

      .infinite-scroll::-webkit-scrollbar {
        width: 10em;
        scrollbar-width: thin;
      }

      .infinite-scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(175, 15, 15, 0.3);
      }

      .infinite-scroll::-webkit-scrollbar-thumb {
        background-color: rgb(139, 38, 38);
        outline: 1px solid rgb(11, 88, 165);
      }
    }

    .chat-window {
      border-radius: 5px;
      height: 100%;

      .header {
        height: 10%;
        border-radius: 5px;
        align-items: center;

        .header-row {
          height: 100%;
          color: white;
          align-items: center;
          border-radius: 15px;

          .option-icon {
            direction: rtl;
          }
        }
      }

      .chat-box {
        width: 100%;
        margin-top: 5%;

        .message-received {
          margin-bottom: 10px;

          .message-content-parent {
            .text-message {
              float: left;
              font-size: smaller;
              width: fit-content;
              max-width: 50%;
              min-width: 40px;
              padding: 7px;
              border-radius: 15px 15px 15px 0px;
              // border: 2px solid rgb(110, 95, 27);
              background-color: rgba(255, 189, 114, 0.712);
              color: black;
              direction: ltr;
              padding-right: 20px !important;
            }
            .timestamp-parent {
              background-color: red !important;
              .timestamp {
                color: rgb(0, 0, 0);
                width: fit-content !important;
                font-size: xx-small;
                padding: 3px;
                border-radius: 20px;
                background-color: #ffc086b0;
                margin-left: 10px;
              }
            }
          }
        }

        .message-sent {
          width: 100%;
          margin-bottom: 10px;
          border-color: 1px solid black !important;
          .message-content-parent {
            .text-message {
              float: right;
              font-size: smaller;
              max-width: 50%;
              min-width: 40px;
              padding: 7px;
              border-radius: 15px 15px 0px 15px;
              // border: 2px solid rgba(69, 67, 163, 0.466);
              background-color: rgba(255, 177, 114, 0.712);
              color: black;
              direction: ltr;
              padding-right: 20px !important;
            }
            .timestamp-parent {
              .timestamp {
                color: rgb(0, 0, 0);
                width: fit-content !important;
                font-size: xx-small;
                padding: 3px;
                border-radius: 20px;
                background-color: #ffc086b0;
              }
            }
          }
        }
      }

      .message-box {
        @include center();

        input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          border: none;
          background-color: rgba(21, 128, 128, 0.658);
          box-shadow: rgba(3, 3, 3, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          color: white;
          padding: 5px;
        }

        ::placeholder {
          font-size: small;
          color: rgb(192, 192, 192);
        }

        input:active,
        input:focus {
          border: none;
          outline-offset: -2px;
          outline: none !important;
          font-size: small;
        }

        input:focus {
          font-size: small;
          border: none;
          outline-offset: -2px;
          outline: none;
          padding: 2px solid green;
        }

        .ie input:active,
        .ie input:focus {
          outline: none;
          padding: 3px solid pink;
        }
      }
    }
  }
}

.close-button {
  /* CSS */
  align-items: center;
  appearance: none;
  background-color: #d44141;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
  rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;

  .button-17:hover {
    background: #f6f9fe;
    color: #174ea6;
  }

  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
      0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }

  .button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
  }

  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
      rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
  }

  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
      rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
  }

  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
      rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
  }

  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
      rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
  }

  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
      rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
  }
}

@media only screen and (max-width: 576px) {
  .main {
    .container-div {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-page-banner {
    visibility: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    // background-color: rgb(173, 230, 199);
    // color: black;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    // background-color: rgb(193, 173, 230);
  }
}

@media only screen and (min-width: 1400px) {
  .main-container {
    // background-color: rgb(230, 173, 213);
  }
}
